:root {
  --body-background-color: #f6f6f6;
  --body-color: var(--base-color);
  --body-font-family: 'Montserrat';
  --body-font-family-fallback: sans-serif;
  --body-font-size: 1rem;
  --body-line-height: 1.5;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font-family), var(--body-font-family-fallback);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  margin: 0;
  min-height: 100%;
}
