.tags {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.tags ul {
  list-style: none;
  font-size: 0.75rem;
  margin: -0.25em;
  padding: 0;
}

.tag {
  display: inline-block;
  margin: 0.25em;
}

.tag:not(:last-child)::after {
  content: ', ';
}
