<h1>PASSWORD</h1>

{% form 'storefront_password', class: 'form' %}

  {{ form.errors | default_errors }}

  <div class="form__group">
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>

  <div class="form__group">

    <input type="submit" value="Enter">

  </div>

{% endform %}
