<h1>Search</h1>

<form action="/search" method="get" class="search form">

  <div class="form__group" role="search">
    <div class="form__field">
      <label for="site_search" class="visually-hidden">
        Search Site:
      </label>
      <input type="submit" value="Search">
      <input type="search" id="site_search" name="q" placeholder="Search …" value="{{ search.terms | escape }}" autofocus>
    </div>
  </div>

</form>

{% if search.performed %}

  {% paginate search.results by 10 %}
    <ul class="search__results">
      {% for result in search.results %}
        <li>
          <div class="search__result">
            <h2 class="search__result__title"><a href="{{ result.url }}">{{ result.title | highlight: search.terms }}</a></h2>
            <div class="result__description">
              {{ result.content | highlight: search.terms }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
{% endif %}
